/* css barcode */
/* by rexfeng 2012 */

body {
	background-color: #fff;
	margin: 30px;
  padding: 0;
  color: #000;
  font-family: Helvetica, Arial;
}

#query {
	margin: 30px 30px 0 30px;
	padding: 2px;
	width: 280px;
}

#barcodenum {
}

.instructions {
	color: #333;
}

#upc-a {
	margin: 0 30px 0 30px; /* quiet zones on left & right (10px *3) */
}

#upc-wrap {
	width: 285px; /* 95 *3 */
	height: 186px; /* 62 *3 */
}

.m { /* module 1px *3 width */
	width: 3px;
	height: 179px;  /* 186 / 244 * 235 = 179px */
	display: inline-block;
	vertical-align: top;
}

.long {
	height: 186px;
}

.o {
	background-color: #fff;
}

.e {
	background-color: #000;
}

.l {
	display: inline-block;
}

.r {
	display: inline-block;
}

.r .o.m {
	background-color: #000;
}

.r .e.m {
	background-color: #fff;
}

#l1, #l2, #l3, #l4, #l5, #l6 {
	display: inline-block;
}

#r1, #r2, #r3, #r4, #r5, #r6 {
	display: inline-block;
}

.digits {
	font-family: monospace, Courier;
	font-size: 2em;
	display: inline;
	position: relative;
	top: -10px;
	letter-spacing: 3px;
}

#l-digits {
	margin-left: 20px;
}

#r-digits {
	margin-left: 24px;
}

#red-strike {
	width: 301px;	
	height: 3px;
	background-color: red;
	position: absolute;
	margin: 100px 30px 0 22px;
}